<section class="py-4 text-center" *ngIf="brands">
    <h2 class="text-main fw-bolder mb-3 text-capitalize">all brands</h2>
        <div class="row g-4">
            <div role="button" [routerLink]="['/aBrand/', item._id]" class="col-md-3" *ngFor="let item of brands">
                <div class="card product mx-auto" style="width: 18rem;">
                    <img height="250px" [src]="item.image" class="card-img-top" [alt]="item.name">
                </div>
            </div>
        </div>
</section>