<section>
    <div class="row align-items-center w-50 mx-auto">
        <div class="col-md-4">
            <img [src]="productDetails.imageCover" alt="" class="w-100">
        </div>
        <div class="col-md-8">
            <div>
                <h3>{{productDetails.title}}</h3>
                <p class="text-muted">{{productDetails.description}}</p>
                 <h4>{{productDetailsCat.name}}</h4>
                 <div class="d-flex align-items-center justify-content-between">
                    <span>{{productDetails.price}} EGP</span>
                    <div class="d-flex">
                        <i class="fas fa-star rating-color"></i>
                        <span>{{productDetails.ratingsAverage}}</span>
                    </div>

                </div>
                <div role="button">
                    <i *ngIf="!wishListData.includes(productDetails._id)" class="fa-xl fa-regular fa-heart" (click)="addFav(productDetails._id , btnAddfav)" #btnAddfav></i>
                    <i *ngIf="wishListData.includes(productDetails._id)" class="fa-xl fa-solid fa-heart text-danger" (click)="removeFav(productDetails._id , btnRemovefav)" #btnRemovefav></i>
                </div>
                <button #btn (click)="addProduct(productDetails._id , btn)" class="btn-main w-100">Add product</button>

            </div>
        </div>
    </div>
</section>
